@charset "UTF-8";

/*定义变量区*/
$navHeight: 60px;         //导航栏高度

/*头部*/
main{
  .header{
    display: flex;
    .room-logo{
      margin: 12px 0 0 30px;
      display: flex;
      width: 36px;
      height: 36px;
      background-color: #fff;
      border-radius: 5px;
      overflow: hidden;
      img{
        margin: auto;
        width: 100%;
        height: 100%;
      }
    }
    .room-name{
      position: static;
      margin-left: 10px;
    }
    .room-description{
      margin: 24px 0 0 20px;
      font-size: 14px;
      font-weight: 100;
      color: #eee;
    }
    .func-btn{
      position: absolute;
      top: 18px;
      right: 175px;
      i{
        font-size: 24px;
        font-weight: 200;
        color: rgba(255, 255, 255, 0.9);
        margin: 0 10px;
        cursor: pointer;
      }
    }
    .nav-avatar {
      .drop-box {
        display: none;
        position: absolute;
        top: 60px;
        right: 16px;
        width: 100px;
        padding: 5px 6px;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        li {
          padding: 0 10px;
          height: 30px;
          line-height: 30px;
          font-size: 14px;
          cursor: pointer;
          border-radius: 5px;
          &:hover {
            background-color: #1589c9;
            color: #fff;
          }
        }
      }
    }
  }
}

/*聊天区域*/
.chatroom-container{
  display: flex;
  width: 100%;
  height: calc(100% - 60px);
  margin-top: $navHeight;
  overflow: hidden;
  background-image: url("../../public/img/chatroom-background-image.png");
  /*对话框和输入框*/
  .chat-area{
    position: relative;
    width: calc(100% - 250px);
    border-right: 1px solid #eee;
    .dialog {
      height: calc(100% - 70px);
      overflow: auto;
      /*某条消息*/
      .chat-message {
        padding: 10px 10px 3px;
        &:hover {
          background-color: #f9f9f9;
        }
        .message-container{
          display: flex;
          padding: 5px 20px 2px;
          .user-avatar {
            width: 60px;
            img {
              margin-top: 2px;
              width: 30px;
              height: 30px;
              border-radius: 4px;
            }
          }
          .message-content {
            width: calc(100% - 60px);
            .message-info {
              font-weight: 600;
              .user-name {
                cursor: pointer;
                font-weight: 600;
                span {
                  &:first-child {
                    opacity: 0.7;
                  }
                  &:nth-child(2) {
                    opacity: 0.5;
                  }
                }
              }
              .message-time {
                float: right;
                margin-right: 20px;
                color: rgba(170, 170, 170, 0.7);
                cursor: pointer;
              }
            }
            .message-words {

            }
          }
        }
        .unread-message {
          background-color: #e9f5ee;
        }
        .system-message {
          background-color: #fae0e0;
          .message-content{
            font-weight: 600;
          }
        }
        .mention-message {
          background-color: #faae9d;
        }
      }
      .continuous-message{
        padding: 1px 10px 3px;
      }
    }
    .input-area{
      position: absolute;
      bottom: 0;
      display: flex;
      width: calc(100% - 1px);
      height: 69px;
      border-top: 1px solid rgba(0, 0, 0, 0.05);
      border-left: 1px solid #eee;
      background: #fff url("/public/img/chatroom-background-image.png");
      /*用户头像容器*/
      .avatar {
        width: 70px;
        height: 100%;
        text-align: center;
        /*用户头像图片*/
        img {
          margin-top: 15px;
          width: 30px;
          height: 30px;
          border-radius: 4px;
        }
      }
      .input-box {
        position: relative;
        width: 100%;
        height: 40px;
        margin: 12px 0 18px;
        #input-tip {
          display: none;
          position: absolute;
          bottom: 28px;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          border: 1px solid rgba(0, 0, 0, 0.2);
          border-radius: 5px;
          padding: 6px 3px 3px;
          background-color: #fff;
          li {
            font-size: 16px;
            height: 20px;
            line-height: 20px;
            padding: 0 10px;
            cursor: default;
            &:hover {
              background: #0088cc;
              color: #fff;
            }
            small {
              color: #999;
            }
          }
          .select {
            background: #0088cc;
            color: #fff;
          }
        }
        input {
          width: calc(100% - 10px);
          height: 100%;
          padding-right: 10px;
          font-family: "Microsoft YaHei Light";
          border-style: none;
          &::placeholder{
            font-family: "Microsoft YaHei Light";
          }
        }
      }
    }
  }
  /*房间信息*/
  .room-info {
    width: 250px;
    height: 100%;
    overflow: auto;
    .room-people{
      padding: 0 0 0 15px;
      p{
        margin: 18px 0 10px;
        color: #a2a3a3;
        cursor: pointer;
        &:hover{
          color: #333;
        }
      }
      .avatar-images{
        div{
          display: inline-block;
          position: relative;
          &::before{
            content: "";
            position: absolute;
            top: 4px;
            left: -4px;
            width: 4px;
            height: 4px;
            border: 2px solid white;
            border-radius: 8px;
            background-color: #fcb316;
          }
        }
        img{
          width: 25px;
          height: 25px;
          margin: 0 5px 5px 0;
          border-radius: 4px;
        }
      }
    }
    .add-people-btn{
      padding: 10px 0 0 15px;
      button{
        width: 66px;
        height: 30px;
        background-color: #43A78A;
        border-style: none;
        border-radius: 6px;
        color: #fff;
        font-size: 12px;
        cursor: pointer;
        outline: none;
      }
      p{
        width: 150px;
        margin: 5px 0;
        padding: 2px 10px;
        color: #43A78A;
        word-spacing: 2px;
        cursor: pointer;
        span{
          margin: 0 5px;
          color: #999;
        }
        &:hover{
          border-bottom: 2px solid #43A78A;
        }
      }
    }
    .room-activity{
      margin-top: 30px;
      p{
        padding-left: 15px;
        &:first-child{
          margin: 10px 0;
          color: #999;
        }
      }
      .activity-list{
        display: flex;
        padding: 6px 0 6px 25px;
        font-size: 12px;
        &:hover{
          background-color: #f8f8f7;
        }
        .activity-content{
          width: calc(100% - 80px);
          color: #666;
          span{
            display: inline-block;
            margin: 1px;
            letter-spacing: 1px;
            &:nth-child(1), &:nth-child(3){
              border: 1px solid rgba(192, 201, 200, 0.4);
              background-color: rgba(192, 201, 200, 0.2);
              border-radius: 2px;
              padding: 0 4px;
              cursor: pointer;
              font-size: 14px;
            }
          }
        }
        .activity-time{
          padding-right: 10px;
          text-align: right;
          color: #999;
          width: 80px;
        }
      }
    }
  }
}

/*登录弹出框*/
.prompt-to-login{
  position: fixed;
  z-index: 99;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  .login-dialog{
    width: 500px;
    height: 260px;
    margin: 10% auto 0;
    background-color: #fff;
    border-radius: 5px;
    .login-dialog-header{
      display: flex;
      width: 100%;
      height: 55px;
      svg{
        width: 18px;
        height: 28px;
        margin: auto;
      }
      i{
        width: 20px;
        line-height: 55px;
        font-size: 18px;
        margin-right: 10px;
        color: #999;
        cursor: pointer;
      }
    }
    .login-dialog-body{
      padding-top: 40px;
      height: 130px;
      background-color: #f2f0ed;
      text-align: center;
      input{
        display: block;
        width: 260px;
        height: 30px;
        margin: 0 auto 20px;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 0 20px;
        font-size: 18px;
        &::placeholder{
          font-family: "Microsoft YaHei Light";
          font-size: 18px;
          text-indent: 4em;
        }
      }
      span{
        font-size: 12px;
        color: gray;
      }
    }
  }
}

#mention-audio {
  display: none;
}
