@charset "utf-8";

/*定义变量区*/
$navHeight: 60px;         //导航栏高度
$infoTextColor: #bcbcbc;  //提示文字颜色
$buttonColor: #f68d42;     //按钮颜色


/*选择房间菜单*/
.room-menu{
  padding: $navHeight + 50px 24px 24px 24px;
}

/*宣传栏*/
.info-wrap{
  position: relative;
  display: flex;
  padding-bottom: 8px;
  color: $infoTextColor;
  border-bottom: 3px solid #eee;
  .info{
    margin: 0 16px;
    font-size: 16px;
  }
  .phones{
    position: absolute;
    right: 0;
    font-size: 16px;
    &>i:first-child{
      position: absolute;
      top: -24px;
      right: 150px;
      background-color: #fff;
      font-size: 65px;
      color: #eee;
    }
    a{
      margin-left: 18px;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
/*新键房间按钮*/
.create-btn{
  margin: 30px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  p{
    margin-right: 30px;
    color: $infoTextColor;
  }
  button{
    font-size: 12px;
    padding: 8px 16px;
    background-color: #fff;
    color: $buttonColor;
    border: 1px solid $buttonColor;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
  }
}
/*主题选择列表*/
.subject-list{
  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -5px;
    height: 88px;
    overflow: hidden;
    li{
      margin: 5px;
      width: 130px;
      height: 34px;
      line-height: 34px;
      text-align: center;
      text-overflow: ellipsis;
      color: gray;
      background-color: #f2f0ed;
      border-radius: 4px;
      cursor: pointer;
      &:hover{
        background-color: #e7e4de;
      }
    }
  }
/*最后一个more元素*/
  .more-subject{
    &:last-child{
      margin: 4px;
      background-color: #fff;
      border: 1px solid #f2f0ed;
      &:hover{
        background-color: #fafafa;
      }
    }
  }
}
/*房间列表*/
.room-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 5px;
  background-color: #f1f1f1;
  .room-detail{
    margin: 10px;
    padding: 14px 12px;
    width: 240px;
    height: 150px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #fbfbfb;
    color: gray;
    &:hover{
      background-color: #fff;
    }
    &:hover .user-count{
      display: none;
    }
    &:hover .view{
      display: block;
    }
    header{
      display: flex;
      img{
        width: 30px;
        height: 30px;
      }
      .card-title{
        height: 30px;
        line-height: 30px;
        margin-left: 10px;
        font-size: 18px;
        font-weight: 600;
        overflow: hidden;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    p{
      height: 36px;
      line-height:36px;
      font-size: 16px;
      white-space: nowrap;
      overflow: hidden;
    }
    .tags{
      display: flex;
      margin: 0 -5px;
      height: 30px;
      padding-bottom: 15px;
      div{
        margin: 0 5px;
        padding:6px 9px;
        border-radius: 3px;
        color: #fff;
        background-color: #d6d6d6;
        cursor: pointer;
      }
    }
    footer{
      position: relative;
      padding-top: 10px;
      border-top: 1px dotted #f2f0ed;
      .user-count{
        display: inline-block;
        padding: 8px 15px;
        border: 1px solid #333;
        border-radius: 5px;
      }
      .view{
        display: none;
        position: absolute;
        top: 10px;
        right: 0;
        padding: 8px 15px;
        border-radius: 5px;
        background-color: $buttonColor;
        color: #fff;
        cursor: pointer;
        &:hover{
          background-color: #dc7f3c;
        }
      }
    }
  }
}